{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load auth_extras %}

{% block content-h1 %}
    House data
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Listings</li>
        {% if request.resolver_match.url_name == "show_new_listing" %}
            <li><a href="{% url "listings:new_listing" %}">New</a></li>
        {% elif request.resolver_match.url_name == "show_liked_listing" %}
            <li><a href="{% url "listings:liked_listing" %}">Liked</a></li>
        {% elif request.resolver_match.url_name == "show_disliked_listing" %}
            <li><a href="{% url "listings:disliked_listing" %}">Disliked</a></li>
        {% elif request.resolver_match.url_name == "show_still_thinking_listing" %}
            <li><a href="{% url "listings:still_thinking_listing" %}">Still thinking</a></li>
        {% endif %}
        <li class="active">House #{{ house.pk }}</li>
    </ol>
{% endblock %}

{% block content %}
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">House data</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h3>
                        <strong>
                            {{ house.get_full_address }}
                        </strong>
                    </h3>

                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for photo in photos %}
                            <li
                                data-target="#carousel-example-generic"
                                data-slide-to="{{ forloop.counter0 }}"
                                class="{% if forloop.counter0 == 0 %}active{% endif %}"
                            ></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for photo in photos %}
                            <div class="item {% if forloop.counter0 == 0 %}active{% endif %}">
                                <img src="{{ photo }}" >
                            </div>
                        {% endfor %}
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                      <span class="fa fa-angle-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                      <span class="fa fa-angle-right"></span>
                    </a>
                  </div>
                </div>
            </div>
            <!-- /.row -->

            <h3>Properties</h3>
            <dl class="dl-horizontal">
                <dt>Property type</dt>
                <dd>{{ house.property_type }}</dd>
                <dt>Property ID</dt>
                <dd>{{ house.property_id }}</dd>
                <dt>Bedrooms</dt>
                <dd>{{ house.bedrooms }}</dd>
                <dt>Bathrooms</dt>
                <dd>{{ house.bathrooms }}</dd>
                {% if house.ensuite %}
                    <dt>Ensuite</dt>
                    <dd>{{ house.ensuite|yesno:"Yes,No" }}</dd>
                {% endif %}
                {% if house.land %}
                    <dt>Land area</dt>
                    <dd>{{ house.land }}</dd>
                {% endif %}
                {% if house.floor %}
                    <dt>Floor area</dt>
                    <dd>{{ house.floor }}</dd>
                {% endif %}
                {% if house.car_spaces %}
                    <dt>Car spaces</dt>
                    <dd>{{ house.car_spaces }}</dd>
                {% endif %}
                <dt>Description</dt>
                <dd>{{ house.description|default:"-" }}</dd>
                <dt>Additional data</dt>
                <dd>{{ house.additional_data|default:"-" }}</dd>
                <dt>Url</dt>
                <dd><a target="_blank" href="{{ house.url }}">{{ house.url }}</a></dd>
                <dt>Auction time</dt>
                <dd>{{ house.auction_time|default:"-" }}</dd>
            </dl>

            <h3>Price</h3>
            <dl class="dl-horizontal">
                <dt>Price</dt>
                {% load humanize %}
                <dd><span id="price">{{ house.price|default:""|intcomma }}</span> <span id="price-type">{{ house.price_type }}</span></dd>
                {% if house.government_value %}
                    <dt>Government value</dt>
                    <dd>{{ house.government_value|default:"-" }}</dd>
                {% endif %}
                {% if house.government_to_price %}
                    <dt>Government to price</dt>
                    <dd>{{ house.government_to_price|default:"-" }}</dd>
                {% endif %}
                {% if house.government_rates %}
                    <dt>Government rates</dt>
                    <dd>{{ house.government_rates|default:"-" }}</dd>
                {% endif %}
            </dl>

            {% if request.resolver_match.url_name == "show_liked_listing" %}
                {% if house.agent_set.count %}
                    <div class="row">
                        <div class="col-md-8">
                            <h3>Agents</h3>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>Name</th>
                                        <th>Mobile phone</th>
                                        <th>Ddi phone</th>
                                        <th>Work phone</th>
                                        {% if request.user|has_group:"Self" %}
                                            <th>Email</th>
                                        {% endif %}
                                        <th>Agency</th>
                                    </tr>

                                    {% for agent in house.agent_set.all %}
                                        <tr>
                                            <td>{{ agent.name }}</td>
                                            <td>{{ agent.mobile_phone }}</td>
                                            <td>{{ agent.ddi_phone }}</td>
                                            <td>{{ agent.work_phone }}</td>
                                            {% if request.user|has_group:"Self" %}
                                                <td><a href="mailto:{{ agent.email }}">{{ agent.email }}</a></td>
                                            {% endif %}
                                            <td>{{ agent.agency.agency_name }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                {% endif %}

                {% if house.agency_set.count %}
                    <h3>Agencies</h3>

                    <div class="row">
                        <div class="col-md-6">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>Name</th>
                                        {% if request.user|has_group:"Self" %}
                                            <th>Email</th>
                                        {% endif %}
                                        <th>Phone</th>
                                    </tr>

                                    {% for agency in house.agency_set.all %}
                                        <tr>
                                            <td>{{ agency.agency_name }}</td>
                                            {% if request.user|has_group:"Self" %}
                                                <td><a href="mailto:{{ agency.email }}">{{ agency.email }}</a></td>
                                            {% endif %}
                                            <td>{{ agency.work_phone }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
            {% endif %}

            {% if open_homes %}
                <h3>Open homes</h3>
                <ul>
                    {% for open_home in open_homes %}
                        <li>{{ open_home.date_from }} - {{ open_home.date_to|date:"P" }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if house.get_address %}
                <h3>Map</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div id="map"></div>
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-12 text-center">
                    {% if request.resolver_match.url_name == "show_new_listing" %}
                        <a href="{% url "listings:mark_as_liked" house.pk %}?return_url={% if request.GET.return_url %}{{ request.GET.return_url }}{% else %}{% url "listings:new_listing" %}{% endif %}" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i> Like</a>
                        <a href="{% url "listings:mark_as_disliked" house.pk %}?return_url={% if request.GET.return_url %}{{ request.GET.return_url }}{% else %}{% url "listings:new_listing" %}{% endif %}" class="btn btn-danger btn-lg"><i class="fa fa-minus"></i> Dislike</a>
                        <a href="{% url "listings:mark_as_still_thinking" house.pk %}?return_url={% if request.GET.return_url %}{{ request.GET.return_url }}{% else %}{% url "listings:new_listing" %}{% endif %}" class="btn btn-warning btn-lg"><i class="fa fa-hourglass"></i> Still thinking</a>
                    {% elif request.resolver_match.url_name == "show_liked_listing" %}
                        <a href="{% url "listings:mark_as_disliked" house.pk %}?return_url={% if request.GET.return_url %}{{ request.GET.return_url }}{% else %}{% url 'listings:liked_listing' %}{% endif %}" class="btn btn-danger btn-lg"><i class="fa fa-minus"></i> Dislike</a>
                        <a href="{% url "listings:mark_as_still_thinking" house.pk %}?return_url={% if request.GET.return_url %}{{ request.GET.return_url }}{% else %}{% url 'listings:liked_listing' %}{% endif %}" class="btn btn-warning btn-lg"><i class="fa fa-hourglass"></i> Still thinking</a>
                    {% elif request.resolver_match.url_name == "show_disliked_listing" %}
                        <a href="{% url "listings:mark_as_liked" house.pk %}?return_url={% if request.GET.return_url %}{{ request.GET.return_url }}{% else %}{% url 'listings:disliked_listing' %}{% endif %}" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i> Like</a>
                        <a href="{% url "listings:mark_as_still_thinking" house.pk %}?return_url={% if request.GET.return_url %}{{ request.GET.return_url }}{% else %}{% url 'listings:disliked_listing' %}{% endif %}" class="btn btn-warning btn-lg"><i class="fa fa-hourglass"></i> Still thinking</a>
                    {% elif request.resolver_match.url_name == "show_still_thinking_listing" %}
                        <a href="{% url "listings:mark_as_liked" house.pk %}?return_url={% if request.GET.return_url %}{{ request.GET.return_url }}{% else %}{% url 'listings:still_thinking_listing' %}{% endif %}" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i> Like</a>
                        <a href="{% url "listings:mark_as_disliked" house.pk %}?return_url={% if request.GET.return_url %}{{ request.GET.return_url }}{% else %}{% url 'listings:still_thinking_listing' %}{% endif %}" class="btn btn-danger btn-lg"><i class="fa fa-minus"></i> Dislike</a>
                    {% endif %}
                </div>
            </div>

            {% if request.resolver_match.url_name == "show_liked_listing" %}
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="{% if not request.GET.active_tab or request.GET.active_tab == 'data' %}active{% endif %}"><a href="#tab_1" data-toggle="tab">My data</a></li>
                        <li class="{% if request.GET.active_tab == 'calculator' %}active{% endif %}"><a href="#tab_2" data-toggle="tab">Calculator</a></li>
                        <li class="{% if request.GET.active_tab == 'staticstic' %}active{% endif %}"><a href="#tab_3" data-toggle="tab">Statistical data</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane {% if not request.GET.active_tab or request.GET.active_tab == 'data' %}active{% endif %}" id="tab_1">
                            {% include 'listings/_partial/my_data.html' %}
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane {% if request.GET.active_tab == 'calculator' %}active{% endif %}" id="tab_2">
                            {% include 'listings/_partial/calculator.html' %}
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane {% if request.GET.active_tab == 'staticstic' %}active{% endif %}" id="tab_3">
                            {% include 'listings/_partial/statistic.html' %}
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div>
                {% include 'listings/_partial/modal_save.html' %}
            {% endif %}

        </div>
        <!-- /.box-body -->
        <div class="box-footer">

        </div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->
{% endblock %}

{% block scripts %}
    <script>
        var houseId = {{ house.pk }};
        var gst = {{ gst }};
        var otherExpences = parseFloat({{ total_other_expenses }});

        $(function () {
            $("#id_first_offer_date, #id_date_sold, #id_revisit_on, #id_appraised_on").datepicker({
                format: "yyyy-mm-dd",
                autoclose: true
            });
        });
    </script>
    <script src="{% static "listings/js/my-data.js" %}"></script>
    <script src="{% static "listings/js/calculator.js" %}"></script>

    {% if house.get_address %}
        <script>
            var initMap = function () {
                var address = '{{ house.get_full_address }}';
                geocoder = new google.maps.Geocoder();
                geocoder.geocode( { 'address': address}, function(results, status) {
                  if (status === 'OK') {
                      var coords = {
                          lat: results[0].geometry.location.lat(),
                          lng: results[0].geometry.location.lng()
                      };
                      var map = new google.maps.Map(document.getElementById('map'), {
                          zoom: 17,
                          center: coords
                      });
                      var marker = new google.maps.Marker({
                          position: coords,
                          map: map
                      });
                  } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                  }
                });
            };
        </script>
    {% endif %}

    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&callback=initMap" type="text/javascript"></script>
{% endblock %}

{% block styles %}
    <style>
        input[type='number'] {
            -moz-appearance: textfield;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

       #map {
           height: 400px;
           width: 100%;
           margin-bottom: 20px;
       }
    </style>

{% endblock %}