{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% load account_extras %}
{% load django_tables2 %}

{% block content-h1 %}
    Settings
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Settings</li>
    </ol>
{% endblock %}

{% block content %}
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Edit region and cities constants</h3>
        </div>
        <div class="box-body">
            <div class="nav-tabs-custom">

                {% include 'accounts/_partial/tabs.html' %}

                <div class="tab-content">
                    <div class="tab-pane active" id="tab_user_data">
                        <form action="{% url 'accounts:region_and_cities_constants' %}" method="post" class="form">
                            {% bootstrap_form form %}
                            {% csrf_token %}
                            {% buttons %}
                                <button type="submit" class="btn btn-primary">
                                {% bootstrap_icon "ok" %} Save
                                </button>
                            {% endbuttons %}
                        </form>
                    </div>
                </div>
                <!-- /.tab-content -->
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">

        </div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->
{% endblock %}

{% block styles %}
    {{ form.media.css }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.6/select2-bootstrap.min.css">
    <style>
        .select2 { width: 100% !important; }
        .select2-container--bootstrap .select2-search__field::-webkit-input-placeholder {
          color: #555;
        }
        .select2-container--bootstrap .select2-search__field::-moz-placeholder {
          color: #555;
        }
        .select2-container--bootstrap .select2-search__field:-ms-input-placeholder {
          color: #555;
        }
        .select2-container--bootstrap .select2-search__field:-moz-placeholder {
          color: #555;
        }
        .select2-container--bootstrap .select2-results__group {
            font-size: 16px;
        }
    </style>
{% endblock %}

{% block scripts %}
    {{ form.media.js }}

    <script>
        var getCapitalGrowth = function (cityId) {
            $.getJSON('/accounts/settings/users-constants/get-capital-growth/' + cityId + '/', function (data) {
                $("#id_capital_growth").val(data.capital_growth);
            });
        };

        $(function () {
            var $idCity = $("#id_city");

            if ($("#id_capital_growth").val() === '') {
                getCapitalGrowth($idCity.val());
            }

            $(document.body).on("change", "#id_city", function() {
                getCapitalGrowth($idCity.val());
            });
        });
    </script>
{% endblock %}