{% load bootstrap3 %}
<div class="modal fade" id="modal-add-manager">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Default Modal</h4>
            </div>
            <div class="modal-body">
                <p>Fill form with manager's data</p>

                <div id="manager-modal-form-errors" class="text-red"></div>
                <form role="form" method="post" autocomplete="off" id="manager-form" action="">
                    {% bootstrap_form manager_form %}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save-manager">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->