<div class="row">
    <div class="col-md-12">
        <strong>View mode:</strong>
        <div class="btn-group" role="group">
            <a class="btn btn-default view-mode {% if view_mode == 'list-view' %}active{% endif %}" data-view-mode="list-view" href="#" title="List view"><i class="fa fa-list" aria-hidden="true"></i></a>
            <a class="btn btn-default view-mode {% if view_mode == 'gallery-view' %}active{% endif %}" data-view-mode="gallery-view" href="#" title="Gallery view"><i class="fa fa-th" aria-hidden="true"></i></a>
        </div>

        <!-- Single button -->
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Per page <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" class="per-page" data-per-page="20">{% if not request.GET.per_page or request.GET.per_page == '20' %}<strong>20</strong>{% else %}20{% endif %}</a></li>
                <li><a href="#" class="per-page" data-per-page="40">{% if request.GET.per_page == '40' %}<strong>40</strong>{% else %}40{% endif %}</a></li>
                <li><a href="#" class="per-page" data-per-page="60">{% if request.GET.per_page == '60' %}<strong>60</strong>{% else %}60{% endif %}</a></li>
                <li><a href="#" class="per-page" data-per-page="80">{% if request.GET.per_page == '80' %}<strong>80</strong>{% else %}80{% endif %}</a></li>
            </ul>
        </div>
    </div>
</div>